{% extends "base.html" %}
{% block title %}{{ heading }}{% endblock %}
{% block content %}

<h2>{{ heading }}</h2>

{% if quantities %}
<table>
<thead>
<tr><th>{{ _('list.quantity') }}</th><th>{{ _('list.unit') }}</th></tr>
</thead>
<tbody>
{% for q in quantities %}
<tr>
  <td>{% if q.symbol %}${{ q.symbol }}$ {% endif %}<a href="/quantity/{{ q.id }}">{{ _(q.name) }}</a></td>
  <td>{% if q.default_unit_symbol_latex %}${{ q.default_unit_symbol_latex }}$ {% endif %}{{ q.default_unit_html }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>{{ _('list.quantities_no_results') }}</p>
{% endif %}

{% endblock %}
