{% extends "base.html" %}
{% block title %}All Variables{% endblock %}
{% block content %}

<h2>All Variables</h2>

<table border="1" cellpadding="4" cellspacing="0">
<tr><th>Symbol</th><th>Name</th><th>SI Unit</th><th>Dimensions</th></tr>
{% for v in vars %}
<tr>
  <td>${{ v.latex }}$</td>
  <td><a href="/variable/{{ v.id }}">{{ v.name_en }}</a></td>
  <td>{{ v.si_html | safe }}</td>
  <td>${{ fmt_dim(v.dim_M, v.dim_L, v.dim_T, v.dim_I, v.dim_Θ, v.dim_N, v.dim_J) }}$</td>
</tr>
{% endfor %}
</table>

<p><a href="/">&larr; Back to home</a></p>

{% endblock %}
